librosa==0.8.1
numpy
scikit-learn==1.0.2
scipy==1.8.0
scikit-image
sounddevice==0.4.4
tqdm==4.62.0
webrtcvad==2.0.10
ipdb==0.13.9
gitpython==3.1.27
boto3==1.21.22
wandb==0.12.11
tensorboard==2.7.0
# was giving errors, but should be installed with conda ahead of time
#PyAudio==0.2.11
uvicorn[standard]==0.18.2
fastapi==0.79.0
pydantic==1.9.1
pynput==1.7.6
requests==2.28.1
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.8
coremltools==5.2.0
# version <= 3.20.1 is required for coremltools
protobuf==3.20.1
soundfile==0.10.3.post1
psutil==5.9.1
geocoder==1.38.1
black==22.8.0
isort==5.10.1
python-dotenv
platformdirs==3.8.1