.conversion-header {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}
.conversion-header-logo {
    margin-top: -10px;
    margin-bottom: 30px;
    margin-left: 24px;
}
.conversion-header-settings {
}