.auth-container {
    width: 360px;
    min-height: 500px;
    overflow-x: hidden;
}
.auth-logo {
    width: 120px;
    margin: 0 120px;
    margin-bottom: 40px;
}

.auth-button {
    color: #fff !important;
    font-weight: 500 !important;
    border-radius: 0.375rem !important;
    font-size: 1rem !important;
    padding: 0.75rem 1.25rem !important;
    display: inline-flex !important;
    justify-content: center !important;
    width: 100% !important;
    text-align: center !important;
}
.auth-button:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important;
}

.auth-input {
    background-color: #1f2937 !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.375rem !important;
    color: #fff !important;
}
.auth-input::placeholder {
    color: #9ca3af !important;
}
.auth-input:focus {
    outline: none !important;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5) !important;
}

.auth-label {
    text-align: left !important;
    margin-bottom: 0.25rem !important;
    letter-spacing: 0.025em !important;
}

.auth-anchor {
    color: #9ca3af !important;
    text-decoration: none !important;
}
.auth-anchor:hover {
    text-decoration: underline !important;
}

.auth-divider {
    background-color: #1f2937 !important;
    height: 1px !important;    }

