.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 1.5em;
    padding: 0.25em;
    padding-top: 20px;
}
.speaker:not(.speaker--selected,.speaker--disabled):hover {
    color: #aaa;
}
.speaker--selected {
    color: #eee;
}
.speaker--disabled {
    color: #ccc;
    cursor: not-allowed;
    filter: greyscale(100%);
}
.speaker-avatar {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    vertical-align: middle;
    box-shadow: 0 0 5px #8885;
    filter: grayscale(50%);
}
.speaker--selected .speaker-avatar {
    width: 112px;
    height: 112px;
    border: 2px solid #eee;
    box-shadow: 0 0 5px #eee;
    margin-top: -2px;
    filter: none;
}
.speaker:not(.speaker--selected,.speaker--disabled):hover .speaker-avatar {
    width: 84px;
    height: 84px;
    box-shadow: 0 0 10px #eee8;
    filter: grayscale(25%);
}
.speaker:not(.speaker--selected,.speaker--disabled):hover .speaker-avatar--placeholder {
    font-size: calc(50px * (84/80));
    line-height: 84px;
}
.speaker-avatar--placeholder {
    background-color: #ccc;
    color: #999 !important;
    font-size: 50px;
    line-height: 80px;
}
.speaker--selected .speaker-avatar--placeholder {
    font-size: calc(50px * (112/80));
    line-height: 112px;
}
.speaker-name {
    display: inline-block;
    margin-top: 10px;
}